<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        
    <title>Django Ticketing Management System</title>
    <style>
        body{
            background-color: rgb(248, 173, 82);
        }
        .navbar-brand{
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px 10px 10px 10px;
            background-color: rgb(217, 221, 228);
            font-weight: bold;
            font-family: sans-serif;
        }
        .nav-link{
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px 15px 5px 15px;
            background-color: rgb(232, 236, 245);
            font-weight: bold;
            font-family: sans-serif;
            margin-left: 50px;
        }
        .nav-link:hover{
            background-color:rgb(139, 229, 250);
        }
        @keyframes ColorChange {
          0% {
    color: rgb(251, 64, 64);
  }
  25% {
    color: rgb(105, 105, 252);
  }
  50% {
    color: rgb(73, 244, 73);
  }
  75% {
    color: rgb(248, 186, 71);
  }
  100% {
    color: rgb(247, 96, 247);
  }
}

.navbar-brand {
  font-size: 36px;
  font-weight: bold;
  animation: ColorChange 5s infinite;
}
    </style>

    <script src="registervalidate.js"></script>
    <script src="loginvalidate.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ticket Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <a href="{% url 'register-customer' %}" class="nav-link btn-primary">Register</a>
                <a href="{% url 'login' %}" class="nav-link btn-primary me-2">Login</a>
            </ul>
        </div>
    </nav>
    <div class="container mt-5"  >
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{messages.tags}} mx-auto" style="width: 40rem;" role="alert">
            <b>{{message}}</b>
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>