{% extends 'users/base.html' %}
<script src="loginvalidate.js"></script>
{% block content %}

<div class="card mx-auto" style="width: 40rem;">
    <div class="card-body">
        <h5 class="card-title mb-3">Login to continue</h5>

        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Username</label>
                <input type="input" name="username" class="form-control" id="exampleInputEmail" aria-describedby="exampleInputEmail">

            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">

            </div>


            <button class="btn btn-primary" onclick="loginvalidate()">Submit</button>
            

        </form>
        <div>
            
        </div>

    </div>

</div>

{% endblock content %}

