{% extends 'users/base.html' %}
<script src="registervalidate.js"></script>
{% load widget_tweaks %}

{% block content %}

<div class="card mx-auto" style="width: 40rem;">
    <div class="card-body">
        <h5 class="card-title mb-3">Hay there! Register as a customer</h5>

        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Email</label>
                {% render_field form.email class="form-control" %}

            </div>
            <div class="mb-3">
                <label for="exampleInputEmail" id="username" class="form-label">Username</label>
                {% render_field form.username class="form-control" %}

            </div>
            <div class="mb-3">
                <label for="exampleInputEmail" id="password" class="form-label">password</label>
                {% render_field form.password1 class="form-control" %}
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail" id="confirmpassword" class="form-label">confirm password</label>
                {% render_field form.password2 class="form-control" %}
            </div>
            <button type="submit" class="btn btn-primary" onclick="registervalidate()">Submit</button>
    

        </form>

    </div>

</div>

{% endblock content %}