{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card max-auto" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">{{ticket.title}}</h5>
                <p><b>Ticket Number: </b><small>{{ticket.ticket_number}}</small></p>
                <p class="card-text"><b>Ticket Description:</b>{{ticket.description}}</p>
                <div class="row">
                    <div class="col">
                        <b>Created By</b> {{ticket.created_by}}
                    </div>
                    <div class="col">
                        <b>Assigned To</b> {{ticket.assigned_to}}
                    </div>

                </div><br>

                <div class="row">
                    <div class="col">
                        {% if ticket.is_resolved %}
                        <b>Resolved?</b> <span class="badge bg-danger">Yes, resolved</span>
                        {% else %}
                        <b>Resolved yet?</b> <span class="badge bg-success">Not yet?</span>
                        {% endif %}
                    </div>
                    <div class="col">
                        <b>Accepted Date:</b> <small>{{ticket.accepted_date}}</small>
                    </div>

                </div><br>

                <div class="row">
                    <div class="col">
                        <b>Accepted Date:</b> <small>{{ticket.accepted_date}}</small>
                    </div>
                    <div class="col">
                        <b>Ticket Status:</b> <small>{{ticket.ticket_status}}</small>
                    </div>

                </div>


            </div>

        </div>

    </div>

    <div class="col-md-6">
        <div class="card max-auto" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">All Tickets created by {{ticket.created_by}}</h5>
                {% for ticket in tickets_per_user %}
                <p class="card-text">{{ticket.ticket_number}} <a href="{% url 'ticket-details'  ticket.pk %}">(view)</a>
                </p>
                {% endfor %}


            </div>

        </div>

    </div>


</div>
<br>

{% if request.user.is_engineer and not ticket.is_resolved %}
<a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirm Resolution</a>
{% endif %}

{% if request.user.is_customer  and not ticket.is_resolved %}
<a href="{% url 'update-ticket' ticket.pk %}" class="btn btn-primary">Update Ticket</a>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to close the ticket out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'close-ticket' ticket.pk %}" class="btn btn-primary">Save changes</a>
            </div>
        </div>
    </div>
</div>



{% endblock content %}