{% extends 'base.html' %}
{% load widget_tweaks%}



{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card mx-auto" style="width: 40rem;">

            <div class="card-body">
                <h5 class="card-title mb-3">Update ATicket</h5>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Issue Title</label>
                        {% render_field form.title class="form-control" %}
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Description</label>
                        {% render_field form.description class="form-control" %}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

        </div>

    </div>
</div>



{% endblock content %}