{% extends 'base.html' %}

{% block content %}

{% if request.user.is_customer %}

<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold ">Customer Dashboard</h1>
            <p class="col-md-8 fs-4">Please complain your issue here.
            </p>
        </div>

    </div>

</section>

{% elif request.user.is_engineer %}

<section class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold ">Engineer Dashboard</h1>
            <p class="col-md-8 fs-4">Engineers! <br> Please resolve the assign tickets before the time breach.
                Any concerns please contact your lead.
                Thanks!
            </p>

        </div>

    </div>

</section>


{% endif %}
{% endblock content %}