<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body{
            background-color: rgb(248, 204, 146);
        }
        .container-fluid{
            background-color:rgb(131, 203, 205);
            
        }
    </style>

</head>

<body>`
    {% if request.user.is_customer %}

    <nav id="nav" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Ticket Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'create-ticket' %}">Create Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'all-tickets' %}">View Tickets</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">{{request.user.username}}</a>
                    </li>
                </ul>
                <a href="{% url 'logout' %}" class="btn btn-primary me-2">Logout</a>
            </div>
        </div>
    </nav>


    {% elif request.user.is_engineer %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><strong>Ticket Management System</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'ticket-queue' %}">Ticket Queue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'workspace' %}">Workspace</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Manage Tickets
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'all-closed-tickets' %} ">Close Tickets</a></li>
                            <!--<li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">{{request.user.username}}</a>
                    </li>
                </ul>
                <a href="{% url 'logout' %}" class="btn btn-primary me-2">Logout</a>
            </div>
        </div>
    </nav>

    {% endif %}

    <div class="container mt-5">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{messages.tags}} mx-auto" role="alert">
            <b>{{message}}</b>
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>